h1, label {
	font-family: Source Sans Pro;

}
h1 {
	font-size: 28;
	margin-top: 20px;
	margin-bottom: 30px;
}
input,button {
	
	border: 1px solid #e3e3e3;
	border-radius: 9px;	
}
.txt{
	
	width: 80%;
	height: 10%;
}
button:hover {
  opacity: 0.8;
}

.maindiv {
	border-radius: 16px;
	width: 400px;
	height:400px;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 1px solid #e3e3e3;
	background-color: #fff;
}
h1,label,input{
	 margin-left: 40px;
}
button{
	background-color: #f44336;
	color: white;
	padding: 9px;
	width: 60%;
	margin-left: 85px;
	margin-top: 20px;
}
body {
  background-image: url('sumerge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}